* {
  /* font-size: 1.1rem !important; */
}
/* table {
  border-collapse: collapse;
  width: 100%;
  overflow-x: auto;
}

th {
  background-color: var(--text);
  color: white;
  font-weight: 700;
  font-size: 20px;
}

th,
td {
  text-align: left;
  padding: 24px;
} */

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th {
  background-color: var(--primary);
  color: #fff;
  padding: 0.625em;
  text-align: center;
  text-transform: uppercase;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 1rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

table th img {
  width: 50px !important;
  height: 50px !important;
  /* border-radius: 50%; */
}

@media screen and (max-width: 769px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
    margin: 0 auto;
  }

  table td img {
    margin: 0 auto;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

main {
  padding-block: 2rem;
}

.btn--back {
  justify-self: flex-start;
}

.section {
  padding-inline: 0;
  padding-block: 2rem var(--sectionPadding);
}

.form {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem !important;
}

.form_group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.form_group > * {
  flex-basis: 100%;
}

.form > h2,
.form__title {
  text-transform: none;
  font-size: var(--header-4) !important;
  font-weight: 700;
  margin-bottom: 4rem;
  text-align: center;
  width: 100%;
}

.form__delete {
  display: flex;
  margin-block: 4rem;
  gap: 2rem;
}

.form__delete > * {
  flex-basis: 100%;
}

.btn-container > * {
  /* flex-basis: 100%; */
  width: 100%;
}
